img {
    display: block;
    width: 100%
}
a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 800;
}

.nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  background-color: #fff;
  width: 1200px;
  height: 50px;
  margin: 0;
  padding-top: 25px;

  display: flex;
  justify-content: space-between;
}

.nav__item:not{
  padding: 10px 0;
}
.nav__item:not(:last-child) {
  margin-right: 30px;
} 

.container {
  width: 1200px;
  padding: auto 15;
  margin: auto;
}

.task {
    padding: 50px;
    border-bottom: 1px solid grey;
}


/*task 3 gallery*/
#gallery {
    display: flex;
    align-items: center;
    background-color: grey;
}

#gallery li {
    list-style-type: none;
    margin-right: 30px;
    width: calc((100% - 2*30px)/3);
}

/*task4 validation*/
#validation-input {
    border: 3px solid #bdbdbd;
  }
  
  #validation-input.valid {
    border-color: #4caf50;
  }
  
  #validation-input.invalid {
    border-color: #f44336;
  }